.claude/
.codex/
.vscode/
.workbuddy/
.smart-env/

# 忽略插件缓存
.obsidian/plugins/*/cache/
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/plugins/**/*.log

# 建议也忽略这个，它经常引起同步冲突
.obsidian/graph.json

# Obsidian 内部状态
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache/
.obsidian/indexedDB/

# 操作系统冗余文件
*.DS_Store
Thumbs.db
